body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%); */
    background: #52c234;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #061700, #52c234);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #061700, #52c234); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/* INDEX */

#navbarNav {
    font-weight: bold;
}

.seccion {
    max-width: 300px;               
    padding: 10px;
}

div p {
    color: black;
    text-align: center;
}

.container {
    margin: 0;
    margin-right: 0px;
}

.hover {
    transition: transform 0.4s;
}

.hover:hover {
    transform: scale(1.3) translateX(10px);
}

h5 {
    text-align: center;
    font-size: 2rem;
}

iframe {
    max-width: 50%;
    position: relative;
    left: 10rem;
    margin-top: 20px;
    margin-bottom: 30px;
}

.card {
    margin: 90px 0px;
    transition: transform 0.4s;
}

.card:hover {
    transform: translateX(10px);
}

/* SECCION AGROECOLOGIA */

h2 {
    text-align: center;
    margin: 30px 0;
}

.imagen-agroecologia {
    border-radius: 20px;
    box-shadow: 2px 3px 2px 2px;
    transition: transform 0.5s;
}

.imagen-agroecologia:hover {
    transform: scale(1.3);
}

li {
    margin: 12px 0;
}

.parrafo-footer {
    margin-left: 5rem;
    margin-top: 50px;
    padding: 10px;
    border: 2px solid black;
}

.footer {
    justify-items: flex-end;
}

.fondo {
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.lista-footer li {
    list-style: none;
}

.lista-footer li a {
    text-decoration: none;
    color: #752727;
    transition: color 0.4s;
} 

.lista-footer li a:hover {
    color: #160C1B;
}

h6 {
    font-weight: bold;
    font-size: 113%;
}